.social
    a.social__item.linkedin.active(href='https://www.linkedin.com/')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-linkedin')
    a.social__item.instagram(href='https://www.instagram.com/')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-instagram')
    a.social__item.facebook(href='https://www.facebook.com/')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-umut')    
    a.social__item.twitter(href='https://twitter.com/')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-twitter')



