.subpage-navsa {
    margin-bottom: 1.5rem;
    margin-right: 2.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    position: relative;
    padding-left: 2.2rem;
    &::before{
    content:'';
    height: 1.9rem;
    width: .3rem;
    background-color:$color-red;
    transform: rotate(28deg);
    position: absolute;
    top: -.2rem;
    left: .5rem;
    }    
}  

.arrowbutton{
    width: 67px;
    height: 67px;
    border: 1px solid #dadee0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: transparent;
    transition: .3s ease-in-out;
    pointer-events: none;
    .arrows{
        width: 30px;
        height: 10px;
        background-color: red;
    }                
}
.sectors-intro-title{
    font-size: 43px;
    line-height: 60px;
    margin-left: -8px;
    pointer-events: none;
    
    .black{
        color: $color-black;
        margin-right: 15px;
        
     }
    .red{
        color: $color-red;
        span{
            margin-left: 10px;
            color: $color-black;
        }
     }
 }


.sektor_vektor{
    width: 100%;
    height: 110rem;
    position: absolute;
    left: 0;
    animation: none;
    top: 0%;
    overflow: hidden;
    z-index: 10;
    .verticalstroke{
        position: absolute;
        left: 70%;
        top: 0;
        height: 65rem;
        width: 1px;
        border-left: 1px solid #475A65;
        z-index: 2;
        @include bp(desktop-m){
            left: 80%;
            height: 25rem;
        }
    }
    
    .horizontalstroke{
        width: calc(100vw + 71px);
        height: 0;
        position: absolute;
        transform: rotate(-13deg) translate(-100px, 0px);
        top: 67.7rem;
        left: 5.8rem;
        user-select: none;
        z-index: -1;        
    }
    .parallel{
        background-color: $color-red;
        position: absolute;
        width: 202px;
        height: 133px;
        top: 55.5rem;
        left:calc(70% - 100px);
        z-index: 52;
        clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%);
        
    }
}

.pageintros{
    height: 88.8rem;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    @include bp(desktop-m){
        height: 88rem;
    }
    &-infos{
        position: absolute;
        z-index: 3;
        top: 21rem;
        flex: 1;
        display: block;
        padding-left: 5rem;
        color: #fff;
        @include bp(desktop-m){
            top: 17rem;
            padding-left: 2rem;
        }
        .subpage-navs {
            margin-bottom: 1.5rem;
            margin-right: 2.1rem;
            font-size: 1.7rem;
            letter-spacing: 5.4px;
            text-transform: uppercase;
            position: relative;
            padding-left: 27px;
            @include bp(desktop-m){
            }
            &::before{
            content:'';
            height: 2.2rem;
            width: 2px;
            background-color:$color-red;
            transform: rotate(28deg);
            }    
        }  
        &-title{
            font-size: 5.5rem;
            line-height: 9rem;
            width: 73.33rem;
            margin-top: 2.1rem;
            font-weight: 500;
            @include bp(desktop-m){
                font-size: 1.9rem;
                width: 80%;
                line-height: 4rem;
            }
        }
        &-text{
            width: 75.55rem;
            font-size: 2.7rem;
            line-height: 42px;
            margin-top: 15px;
            letter-spacing: 0.6px;
        }  
    }
    &-images{
        flex: 1;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; 
        object-position: center;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 57.2%, 0% 100%);
        img{
            filter: grayscale(1);
            object-fit: cover;
            object-position: top left;
            // height: 1000px;
            // clip-path: polygon(0 0, 100% 0, 100% 50.5%, 10.1% 100%)
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, left top, right top, from(#0d1d28), color-stop(55%, rgba(13,29,40,0.4)), to(#0d1d28));
            background: -o-linear-gradient(left, #0d1d28 0%, rgba(13,29,40,0.4) 55%, #0d1d28 100%);
            background: linear-gradient(to right, #0d1d28 0%, rgba(13,29,40,0.4) 55%, #0d1d28 100%);
        }
    }
}

.sector_detail{
   .sectors-intro{
        width: 100%;
        display: flex;
        margin-left: -15px;
        align-items: center;
        margin-bottom: -13.33rem  !important;

        &-sol{
            width: 90%;
            .subpage-navs{
                margin: 30px 0;
                font-size: 15px;
                font-family:$font-family-base;
                letter-spacing: 5.4px;
                text-transform: uppercase;
                position: relative;
                padding-left: 15px;
                &::before{
                content:'';
                height: 20px;
                width: 2px;
                background-color:$color-red;
                transform: rotate(28deg);
                position: absolute;
                top: -2px;
                left: -10px;
                }
            }
           
           .sectors-intro-title{
               font-size: 43px;
               font-weight: 550;
               line-height: 60px;
               margin-left: -8px;
               pointer-events: none;
               .black{
                   color: $color-black;
                   margin-right: 15px;
                }
               .red{
                   color: $color-red;
                }
            }
        }
        &-sag{
            width: 165%;
            position: relative;
            left: 60px;
            .sectors-intro-text{
                letter-spacing: 0.2px;
                opacity: 0.5;
                font-size: 20px;
                line-height: 36px;
            }
        }
    }
    .sectors_contact{
        display: flex;
        color: #fff;
        height: 35.55rem;
        padding: 40px 100px;
        width: 122.2rem;
        background-color: #ea3d3d;
        position: relative;
        align-items: center;
        top: 237px;
        z-index: 155;
        &-logo{
            height: 110px;
            flex: 1;
            flex-shrink: 0;
            line-height: 40px;
        }
        &-info{
            padding-left: 140px;
           &-item{
               letter-spacing: .6px;
               font-size: 24px;
               line-height: 42px;
               max-width: 600px;
               position: relative;
               display: flex;
               color: #fff;
               opacity: .9;
               img{
                   height: 40px;
                   margin-right: 20px;
               }
           }
        }
        &-link{
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
            padding: 10px 30px;
            display: flex;
            &:hover{
                .arrowbutton{
                    background-color: #ea3d3d;
                }
                
            }
            span{
                margin-right: 20px;
                letter-spacing: 2px;
                font-size: 20px;
                display: flex;
                align-items: center;
            }
            .arrowbutton{
                width: 67px;
                height: 67px;
                border: 1px solid #dadee0;
                border-radius: 50%;
                display: grid;
                place-items: center;
                text-decoration: none;
                background-color: transparent;
                transition: .3s ease-in-out;
                .arrows{
                    width: 30px;
                    height: 10px;
                    background-color: black;
                }                
            }
        } 
    }
}

.bold_motto{
    padding: 27.8rem 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    &-wrapper{
        position: relative;
        padding: 0 30px;
        text-align: center;
        .subject{
            display: flex;
            justify-content: center;
        }
        .bold_motto-text{
            text-align: center;
            font-size: 30px;
            line-height: 44px;
            letter-spacing: 0.75px;
            font-weight: 550;
            margin-top: 50px;
            padding: 0 240px;
            color: #363636;
        }
    }
    &-line{
        .horizontalstrks{
            width: calc(100vw + 71px);
            height: 0;
            position: absolute;
            border-bottom: 1px solid #DADEE0;
            transform: rotate(-13deg) translate(-100px, 0px);
            top: 702px;
            left: 53px;
        }
        .parllel{
            position: absolute;
            background-color: #EA3D3D;
            width: 127px;
            height: 84px;
            clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 34%);
            right: 150px;
            top: 550px;
        }
    }
    .big_content{
        display: flex;
        position: relative;
        top: 250px;
        justify-content: center;
        margin-bottom: 30px;
        &-image{
            width: 50%;
            margin-left: 120px;
            img{
            width: 60rem;
            height: 88.22rem;
            margin-right: 70px;
            position: relative;
            }
        }
        &-info{
            width: 90%;
            margin-top: auto;
            margin-bottom: auto;
            .subpage-nav{
                margin-left: 0px !important;
                margin-bottom: 15px;
                font-size: 14px;
            }
            &-title{
                font-size: 40px;
                color: #17262f;
                span{
                    display: block;
                }
                .bslks{
                    display: flex;
                }
                .red{
                    color: #EA3D3D;
                }
                .black{
                    color: #17262f;
                    padding-left: 10px;
                }
            }
            &-text{
                font-size: 20px;
                line-height: 38px;
                letter-spacing: 0.5px;
                opacity: 0.7;
                width: 75%;
                margin-top: 45px;
            }   
        }
    }

}

.gray_section{        
    .row{
        margin:18.9rem;
    }
    .operations{
        margin-top: 12.22rem; 
        
        .row{
            border-left: 1px solid #DADEE0;
            border-top: 1px solid #DADEE0;
            .col-xl-4{
                border-right: 1px solid #DADEE0;
                border-bottom:1px solid #dadee0 ;
                .operations-item{
                   text-decoration: none;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   padding: 9rem;
                   height: 66.66rem;
                   position: relative;
                   background-color: #fff;
                   transition: border .1s, transform .5s, padding-bottom .2s;
                   z-index: 10;
                   &:hover{
                       padding-bottom: 12.7rem;
                       transform: translateY(-15px);
                       border-color: transparent;
                       z-index: 11;
                       .arrowbutton{
                            background-color: #fff;
                            margin-top: 30px;
                            .arrows{
                                background-color: gray;
                            }
                        }
                        &-content{
                            .sectors-intro-title{
                                pointer-events: none;
                                z-index: 1000;
                                  .black{
                                       color: #fff !important;
                                   }
                                   .red{
                                       color: #fff;
                                   }
                        }
                       
                        }
                        .operations-item-content-text{
                            display: none;
                           
                        }
                   }
                   &-image{
                       position: absolute;
                       opacity: 0;
                       left: 0;
                       top: 0;
                       height: 100%;
                       width: 100%;
                       object-fit: cover;
                       object-position: top;
                       filter: grayscale(1) brightness(0.5);
                       transition: .9s;
                       z-index: 10;
                       img{
                           width: 100%;
                           height: 100%;
                           z-index: -100;
                       }
                        &:hover{
                            opacity: 1;
                            transform: scaleY(1.052);
                            z-index: 11;
                            width: 100%;
                        }
                   }  
                   &-content{
                    pointer-events: none;
                    z-index: 100;
                       &-text{
                        height: 13.33rem;
                        max-width: 290px;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 0.18px;
                        opacity: .7;
                        transition: .5s;
                        overflow: hidden;
                        color: #363636;
                        margin-bottom: 120px;
                        
                       }
                   }   
                   .arrowbutton{
                       margin-bottom: 10px;
                   }           
                  
               }
            }
        }
    }
}
.mrgn{
    .mrgn2{
        margin-left: 50px;
    }
    .mrgn3{
        margin: 35px;
    }
}
.kclt{
    img{
        height: 100%;
        width: 100%;
        z-index: -10000;
    }
}

.workplace{
    margin-top: 13.33rem;
    margin-left: 15.33rem;
    margin-right: 15.33rem;
    .place{
        width: 100%;
        height: 41.11rem;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        background-color: #fff;
        &-info{
            color: #363636;
            margin-left: 50px;
            width: 40%;
            &-title{
                font-size: 24px;
                margin-bottom: 25px;
                font-weight: 550;
            }
            &-address{
                font-size: 18px;
                opacity: .7;
                display: flex;
                margin-bottom: 45px;
                img{
                    padding-right: 10px;
                    height: 18px;
                }            
            }
            &-text{
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.18px;
                opacity: 0.7;
                width: 80%;
            }
        }
        &-image{
            width: 60%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
                filter: grayscale(1);
            }
        }
        &:hover{
            img{
                filter: grayscale(0);
            }
        }
    }
}
.kclt{
    width: 25rem;
    height: 25rem;
}