extends blocks/layout
block vars
    - var index = false;
    - var header = true;
    - var logo = false;

block append head
    title Homepage - ÇAPOĞLU
block content
    .kutu2
    .dikeyczg
    .yatayczg
    .kutucuk
    
    section.home
        .home-intro 
            .start 
                h2 Yarım yüzyıllık deneyimle güçlü bir gelecek vizyonu 
                a(href="hakkimizda.html") HAKKIMIZDA 
            .finish
                img(src="assets/img/anasayfa.png", alt="", srcset="")
                p  Çapoğlu Şirketler Grubugg, 4 farklı sektörde güçlü temeller üzerine kurulmuş, kurumsal ekosistemini tüm sektörlerde sürdürebilen öz kültüre sahiptir. Stratejik atılımlarla sağlam bir vizyon oluşturmuş, ülke ve insan sevgisini merkezde tutarak; yatırımları, hizmetleri ve özverili çalışmalarıyla ülkesini kalkındırmayı amaçlamaktadır.
            a(href="message.html").whitebox
                .yazi
                    span Ülkemizin ve insanımızın kalkınması
                    p   için çalışıyoruz.                
    section.corporation
        .corporation-first
            .subpage-nav    
                span  Kurumsal
            .pageintro-sp
                span 45 yıllık tecrübe
                span  4 sektörde 
                span 3 şirket   
            p Çapoğlu Şirketler Grubu, iyi yetişmiş insan kaynakları, güncel teknolojik altyapısı, 45 yılı aşan tecrübesi ve güçlü kurumsal yapısıyla, değer yaratmaya, üretmeye ve istikrarlı yükselişine devam edecektir.
            a(href="#") TARİHÇEMİZ 
        .corporation-cards
            a(href="").cards-item
                .cards-item-image 
                    img(src="assets/img/bilgiteknolojileri_insan_kaynaklari.jpg", alt="")
                .cards-item-content 
                    .cards-item-content-title 
                        h3  Bilgi Teknolojileri 
                    .cards-item-content-text 
                        p Yenilikçi iletişim, deneyimli kadro, yeni nesil teknoloji ortağı
                    .arrowbutton 
                        .arrows
            a(href="").cards-item
                .cards-item-image 
                    img(src="assets/img/bilgiteknolojileri_insan_kaynaklari.jpg", alt="")
                .cards-item-content 
                    .cards-item-content-title 
                        h3  Bilgi Teknolojileri 
                    .cards-item-content-text 
                        p Yenilikçi iletişim, deneyimli kadro, yeni nesil teknoloji ortağı
                    .arrowbutton 
                        .arrows
            a(href="").cards-item
                .cards-item-image 
                    img(src="assets/img/bilgiteknolojileri_insan_kaynaklari.jpg", alt="")
                .cards-item-content 
                    .cards-item-content-title 
                        h3  Bilgi Teknolojileri 
                    .cards-item-content-text 
                        p Yenilikçi iletişim, deneyimli kadro, yeni nesil teknoloji ortağı
                    .arrowbutton 
                        .arrows
            a(href="").cards-item
                .cards-item-image 
                    img(src="assets/img/bilgiteknolojileri_insan_kaynaklari.jpg", alt="")
                .cards-item-content 
                    .cards-item-content-title 
                        h3  Bilgi Teknolojileri 
                    .cards-item-content-text 
                        p Yenilikçi iletişim, deneyimli kadro, yeni nesil teknoloji ortağı
                    .arrowbutton 
                        .arrows
    section.career
        .container
            .career-image 
                .parallel
                img(src="assets/img/kariyer.png", alt="kariyer")                    
            .career-content
                .subpage-navsa Kurumsal
                .pageintro-sp
                    span İyi yetişmiş insan gücü ile
                    span  nitelikli hizmetler
                    span  üretiyoruz   
                p Çalışanlarımızın esnek, şeffaf, çok yönlü bakış açısına sahip, kurumsal kültür ve etiğini içselleştirmiş, yeniliklere kolay adapte olabilmesi önceliğimizdir.
                a(href="").flex   AÇIK POZİSYONLAR
                    .arrowbutton    
                        .arrows
            
        
     




