extends blocks/layout
block vars
    - var index = false;
    - var header = true;

block append head
    title Madencilik | - ÇAPOĞLU
block content
    .sektor_vektor
        .verticalstroke     
        .horizontalstroke
        .parallel

    .pageintros  
        .pageintros-infos 
            .subpage-navsa  madencilik
            h1.pageintros-infos-title Milli Tasarruf Bilinci ile Çalışıyoruz 
            .pageintros-infos-text 
                p Elde edilen bölgesel başarıları, ülke geneline yaymayı, güvenilir ve öncü bir madencilik markası olmayı amaçlıyoruz.        
        .pageintros-images 
            img(src="assets/img/madencilik-intro.jpg", alt="")
    .subpage-container.container 
        section.subpage.sector_detail
            .sectors-intro
                .sectors-intro-sol     
                    .subject 
                        .subpage-navs Şirket Tanımı
                    .sectors-intro-title 
                        .black Yüksek 
                        .red kalite 
                            span standartları
                .sectors-intro-sag                   
                    .sectors-intro-text 
                        p Çapoğlu Şirketler Grubu, 2011 yılında madencilik sektörüne giriş yapmıştır. Trabzon Of ve  Hayrat ilçeleri olmak üzere, iki farklı noktada faaliyete göstermektedir. Kavakpınar Taş ocağında 7 hektarlık alan üzerinde, yıllık 1 milyon ton kapasiteye sahip tesiste; granit tipi kalker olan duvar taşı, blok taşı ve tahkimat taşı üretimi yapılmaktadır. Hayrat Taş ocağında 99,8 hektarlık alan üzerinde yıllık 1 milyon ton kapasiteye sahip tesiste; agrega tipi kalker olan Agrega, Duvar Taşı ve Blok Taşı üretimi yapılmaktadır.              
            .sectors_contact.mrgn 
                .sectors_contact-logo.mrgn2 
                    | Baltacı Madencilik
                .sectors_contact-info.mrgn3
                    a(href="").sectors_contact-info-item.address 
                        img(src="assets/img/pin.svg", alt="") 
                        |  Of Sanayi Sitesi TRABZON ŞAMPİYON           
                    a(href="").sectors_contact-info-item.phone 
                        img(src="assets/img/pin.svg", alt="")
                        |  +90 544 227 83 24              
    section.bold_motto 
        .bold_motto-wrapper
            .row 
                .col-xl-12
                    .subject 
                        .subpage-nav  NASIL ÇALIŞIRIZ?
                    .bold_motto-text
                        p Çapoğlu Şirketler Grubu, madencilik sektöründe uluslararası standartları gözetip, Türkiye’de belirtilen mevzuatlara uygun ve eksiksiz şekilde hayata geçirmektedir.
        .bold_motto-line 
            .horizontalstrks 
            .parllel
        .big_content 
            .big_content-image 
                img(src="assets/img/hakkimizda.jpg", alt="")
            .big_content-info    
                .subpage-nav ÇEVRE & İSG POLİTİKAMIZ
                .big_content-info-title
                    | Makimum
                    .bslks
                        .red duyarlılık
                .big_content-info-text 
                    p Çapoğlu Şirketler Grubu, madencilik sektöründe uluslararası standartları gözetip, Türkiye’de belirtilen mevzuatlara uygun ve eksiksiz şekilde hayata geçirmektedir. Çalışanların sağlık ve güvenliğinin sağlanması, şirketimizin temel prensiplerinden biridir. Çevre mevzuatına uygunluk ve yasal uyumluluk, Çapoğlu Şirketler Grubu’nun şirket politikasıdır. Çevre yönetim politikası kapsamında; üretim faaliyetleri tüm faktörler göz önüne alınarak, çevreci kurallar özen ve hassasiyetle tatbik edilmektedir. Enerji ve doğal kaynakların tüketimi, milli tasarruf bilinci, verimlilik ve ekonomi dikkate alınarak uygulanmaktadır. Bu kapsamda tüm çalışanların çevresel kural ve çevreci bilince uygun hareket etmesi sağlanmaktadır.
    section.gray_section 
        .row.hiza 
            .col-xl-4
                .subject 
                    .subpage-navsa KALİTE POLİTİKAMIZ
                .sectors-intro-title 
                    .black Ulusal & uluslararası
                    .red standartlara, yönetmeliklere uygunluk
            .col-xl-7                
                p  Çapoğlu Şirketler Grubu’nun SEÇ uygulamaları ve yönetim prosedürleri kapsamında tüm milli yasalar, anlaşmalar, düzenlemeler, lisans ve ruhsat koşullarına riayet edilmektedir. Maden arama, planlama, çıkarma ve işleme operasyonları da dahil olmak üzere tüm faaliyetlerimize SEÇ hususları dahil edilmektedir. Madencilik işinin doğasına, ölçeğine ve gerçekleştirilmesine uygun tüm faaliyetlerde güncel tekniklere ve en iyi uygulamalara sahip olunması yönünde çalışılmaktadır. İşle ilgili yaralanma ve hastalıklar gibi belirlenebilir tehlikeleri önlemek ve ortadan kaldırmaya dönük çalışmalar yapılmaktadır. Tüm  çalışanların, yüklenicilerin ve ziyaretçilerin güvenlik ekipman ve kıyafet ihtiyacı sağlanmaktadır.
                p(style=" margin-top:20px") Çapoğlu Şirketler Grubu, madencilik sektöründe asgari olarak anlaşmaya varılan kalite kontrol ihtiyaçlarını karşılayan yüksek bir kalite standardında iş ve hizmet sağlanması hususunda müşterilerinin beklentilerini karşılamaya odaklanmıştır. Özellikle kalite kontrol planı, proje zaman yönetimi ve gereken kalite standartlarının gerçekleştirilebilir olmasını sağlamak, etkinlik ve verimlilik ile her bir faaliyetin yerine getirilmesi yönünde çalışılmaktadır.
    section.gray_section 
        .row.hiza 
            .col-xl-12
                .subject 
                    .subpage-navsa TAŞ OCAKLARIMIZ
                .sectors-intro-title 
                    .black İki farklı noktada
                    .red faaliyet gösteriyoruz
        .workplace
            .place 
                .place-info 
                    .place-info-title Kavakpınar Taş Ocağı
                    .place-info-address     
                        img(src="assets/img/pin-red.svg", alt="")
                        | Kavakpınar Köyü, Of, Trabzon
                    .place-info-text
                        p 7 hektarlık alan üzerinde, yıllık 1 milyon ton kapasiteye sahip tesiste; granit tipi kalker olan duvar taşı, blok taşı ve tahkimat taşı üretimi yapılmaktadır.
                .place-image 
                    img(src="assets/img/kavakpinar-tas-ocagi.jpg", alt="")
            .place 
                .place-info 
                    .place-info-title Kavakpınar Taş Ocağı
                    .place-info-address     
                        img(src="assets/img/pin-red.svg", alt="")
                        | Kavakpınar Köyü, Of, Trabzon
                    .place-info-text
                        p 99,8 hektarlık alan üzerinde yıllık 1 milyon ton kapasiteye sahip tesiste; agrega tipi kalker olan Agrega, Duvar Taşı ve Blok Taşı üretimi yapılmaktadır.
                .place-image 
                    img(src="assets/img/kavakpinar-tas-ocagi.jpg", alt="")






    section.gray_section 
        .row
            .col-xl-7
                .subject 
                    .subpage-navsa ÜRÜNLERİMİZ
                .sectors-intro-title 
                    .black Taş ocaklarımızda 
                    .red imalatını yaptımız ürünler
            .col-xl-5 
        section.operations
            .row
                .col-xl-4
                    .operations-item
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title 
                                .black Kategorik 
                                .red Taşlar                                
                .col-xl-4 
                    .operations-item 
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title
                                .black Blok 
                                .red Taşlar            
                .col-xl-4.nm
                    a(href="").operations-item 
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title 
                                .black Dijital 
                                .red Ajans       
                .col-xl-4.nn
                    a(href="").operations-item 
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title 
                                .black Dijital 
                                .red Ajans             
                .col-xl-4.nn 
                    a(href="").operations-item 
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title 
                                .black Dijital 
                                .red Ajans                
                .col-xl-4.nn
                    a(href="").operations-item 
                        .operations-item-image
                            img(src="assets/img/madencilik_kategorik_taslar.jpg", alt="")
                        .operations-item-content
                            .sectors-intro-title 
                                .black Dijital  
                                .red Ajans