extends blocks/layout
block vars
    - var index = true;
    - var logo = true;

block append head
    title Tarihçe - ÇAPOĞLU
block content
    .arkaplan-tarihce 
        .verticalstrokes        
        .horizontalstrokes
        .parallels
    .pageintro-tarihce
        .pageintro-kariyer
            .subpage-nav TARİHÇE
            .pageintro-sp-kr
                span Yarım asıra yakın
                span  deneyim
            P Ahmet Çapoğlu’nun cesaretle temellerini attığı Aile şirketimiz Çapoğlu Şirketler Grubu, iyi eğitimli ikinci kuşak Çapoğlu üyeleriyle, başarı hikayemizi gelecek nesillere taşıyor. 
        .kariyer-img 
            img(src="assets/img/tarihce.png", alt="kariyer", )
    .container 
        section.subpage.history 
            .history_head_line 
                .yvrlk  
            .history-info 
                img.image(src='assets/img/logo-mini.svg')
                h2 Ahmet Çapoğlu 1975 yılında Trabzon’un Of ilçesinde elektrik ve bobinaj işiyle tanıştı.
            .history-timeline 
                .history-timeline-line
                    .yvrlk1 
                    .yvrlk2 
                .history-timeline-item 
                    .history-timeline-item-info 
                        h4.title Dayanıklı Tüketim
                            span Sektörüne Giriş
                        .text.fltrght Ahmet Çapoğlu tarafından Çapoğlu Şirketler Grubunun temelleri atıldı. Koç Grubu'na bağlı, Of Arçelik – Beko markalarının dayanıklı tüketim malları yetkili servis işini kurdu.
                    .history-timeline-item-year
                        span 1981
                    .history-timeline-item-image
                        img(src="assets/img/arce.jpg", alt="")
                        .image_parallel 
                .history-timeline-item 
                    .history-timeline-item-image
                        img(src="assets/img/arce.jpg", alt="")
                        .image_parallel                
                    .history-timeline-item-year
                        span 2011
                    .history-timeline-item-info 
                        h4.title Madencilik Sektörüne
                            span Adım Attık
                        .text Madencilik sektörüne giriş yaparak, Trabzon'un Of ilçesinde taş madenciliğine başladı.
                .history-timeline-item 
                    .history-timeline-item-info 
                        h4.title İnşaat Sektöründe
                            span Faaliyetlerimiz Başladı
                        .text.fltrght İnşaat sektörüne giriş yaparak, İstanbul'da Kentsel Dönüşüm projelerinde faaliyet göstermeye başladı.
                    .history-timeline-item-year
                        span 2016
                    .history-timeline-item-image
                        img(src="assets/img/arce.jpg", alt="")
                        .image_parallel 
                .history-timeline-item 
                    .history-timeline-item-image
                        img(src="assets/img/arce.jpg", alt="")
                        .image_parallel                
                    .history-timeline-item-year
                        span 2019
                    .history-timeline-item-info 
                        h4.title Bilgi Teknolojileri
                            span Sektörüne Giriş
                        .text İkinci kuşak Bilgisayar Mühendisi Arif Çapoğlu, Bilgi Teknolojileri sektörüne girdi. Bu alanda yazılım, eğitim, dijital ajans ve insan kaynakları alanında faaliyet gösteren şirketini kurdu.

                    